@model IEnumerable<DegreeModel> //category is the name of the model

@{
    ViewBag.Title = "Index";

    PaginatedList pager = new PaginatedList();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }





}

<div>

    <header class="Compare-header"> dfhdfhf </header>
    
</div>
<p>
    @using (Html.BeginForm("Index", "CorrectCompare", FormMethod.Get))
    {
        <h2> Welcome</h2>

        @Html.RadioButton("SearchBy" , "Degre_Name" , true) <text>Name</text>

        @Html.RadioButton("SearchBy" , "Degree_Type") <text>Type of Degree</text>

        @Html.RadioButton("SearchBy" ,"Affiliated_uni") <text>Affiliated University</text>
        <br />
        @Html.TextBox("search")

        <input type="submit" value="Search" />
    }

</p>

<p class="search"> Easily select the best degree  from a range of universities on one single platform !!</p>



@if (Model.Count() == 0)
{

    <p> No items matching search</p>


}
else
{

    <div class="row">
        @foreach (var obj in Model)
        {
            <div class="column">
                <h2>@obj.Degre_Name - @obj.UniShortname</h2>
                <p>Duration : @obj.Degree_duration</p>
                <p>
                    Course Fee
                    : @obj.CourseFee
                </p>
                <p>Affiliated University : @obj.Affiliated_uni</p>
                <p>Description : @obj.Degree_description</p>
                <p>Admission requirements : @obj.Admission_Requirments</p>
                <p>Admission requirements : @obj.Academic_proggression</p>
            </div>





        }
    </div>



    <div class="page-container">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">


                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Compare" asp-action="Index" asp-route-pg="1">First</a>
                    </li>


                    <li class="page-item">
                        <a class="page-link" asp-controller="Compare" asp-action="Index" asp-route-pg="@(pager.CurrentPage -1 )">Previous</a>
                    </li>
                }



                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active":"")">
                        <a class="page-link" asp-controller="Compare" asp-action="Index" asp-route-pg="@pge">@pge</a>
                    </li>
                }


                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Compare" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                    </li>


                }

            </ul>

        }





    </div>

}

