@model IEnumerable<DegreeModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="container btn-group">
 @*  <div class="col-10">
        <h1>Degrees</h1>
    </div>
    *@
</div>
<table class="table">
    <thead>
        <tr>


         @*   <th>
                 ID
            </th>*@
            <th style="font-size:20px; text-align:center">
                Degree Programmes
            </th>
            
            
           
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>

                <td>
                    @*<img src="@item.PhotoUrl" alt="" class="avatar">*@
                </td>

               @* <td>
                    @obj.Degree_ID
            </td>*@
                
                <td>
                    <br />
                    <br />
                      <a asp-action="DegreeDetails" asp-route-id="@obj.Degree_ID" style="font:bold; font-size:17px">
                    @obj.Degre_Name &nbsp; &nbsp; <img src="/images/arrow.png" class="arrow">
                    </a>
                </td>



                <td>
                    @*   <a asp-action="Edit" asp-route-id="@obj.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@obj.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@obj.ID">Delete</a>*@

                  @*  <div class="btn-group">

                        <a asp-action="DegreeDetails" asp-route-id="@obj.Degree_ID" class="btn btn-sm btn-primary ml-1">Details</a>
                        &nbsp; &nbsp;
                        @*<a asp-action="#" asp-route-id="#" class="btn btn-sm btn-secondary  ml-1">Apply Now</a>
                    </div>
            *@
                </td>
            </tr>
        }
    </tbody>
</table>

