@model IEnumerable<DegreeModel>


    <br />


<div class="h">

    <h5>Degree list</h5>
</div>

 
<div class="card">

 

@*<div class="container btn-group">*@
    <div class="col-12">
 
        @*<div class="card-header bg-secondary text-uppercase text-white text-center"  id="card-header">
            <h5>Degree list</h5>
        </div>*@
      @*  <h1>Degree list</h1>*@
    </div>
   @* <div class="col-2 btn-group justify-content-end ">
        <a asp-action="DegreeCreate" class="btn  btn-outline-danger">Add New Degree</a>
    </div>*@
@*</div>*@
    <div class="card-body">
<table class="table">
    <thead>
        <tr>

            <th>
            </th>

            <th>
                Degree Name
            </th>
            <th>
                Degree Type
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>

                <td>
                   
                </td>

                <td>
                    @obj.Degre_Name
                </td>
                <td>
                    @obj.Degree_Type
                </td>



                <td>
                    @*   <a asp-action="Edit" asp-route-id="@obj.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@obj.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@obj.ID">Delete</a>*@

                     <div class="btn-group col-12">
                <a asp-action="DegreeEdit" asp-route-id="@obj.Degree_ID" class="btn btn-sm btn-info" id="pro-button">Edit</a>

                        &nbsp;  &nbsp;  &nbsp;
                                <a asp-action="DetailsDegree" asp-route-id="@obj.Degree_ID" class="btn btn-sm btn-primary ml-1" id="pro-button">Details</a>

                        &nbsp;  &nbsp;  &nbsp;
                                <a asp-action="DegreeDelete" asp-route-id="@obj.Degree_ID" class="btn btn-sm btn-danger ml-1" id="pro-button-del">Delete</a>
                </div>

                </td>
            </tr>
        }
    </tbody>
</table>

        <div class="col-12 btn-group justify-content-center ">
            <a asp-action="DegreeCreate" class="btn  btn btn-success" id="success-button">Add New Degree + </a>
        </div>
</div>
</div>

