@model Project_G06.Models.DegreeModel

@{
    ViewData["Title"] = "DegreeDelete";
}
<br />
<br />
<h1>Delete</h1>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Degree Name
            @*
            @Html.DisplayNameFor(model => model.Degre_Name)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degre_Name)
        </dd>
        <dt class = "col-sm-2">
            Type of the Degree
               @* @Html.DisplayNameFor(model => model.Degree_Type)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree_Type)
        </dd>
        <dt class = "col-sm-2">
            Affliated Universities
            @*  @Html.DisplayNameFor(model => model.Affiliated_uni)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Affiliated_uni)
        </dd>
        <dt class = "col-sm-2">
            Duration of the Degree
            @*  @Html.DisplayNameFor(model => model.Degree_duration)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree_duration)
        </dd>
        <dt class = "col-sm-2">
            Description
            @*      @Html.DisplayNameFor(model => model.Degree_description)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree_description)
        </dd>
        <dt class = "col-sm-2">
            Coursee Fee
            @*   @Html.DisplayNameFor(model => model.CourseFee)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseFee)
        </dd>
        <dt class = "col-sm-2">
            Career Oppurtunities
            @*    @Html.DisplayNameFor(model => model.Career_Opurtunity)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Career_Opurtunity)
        </dd>
        <dt class = "col-sm-2">
            Academic Progression
            @*  @Html.DisplayNameFor(model => model.Academic_proggression)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Academic_proggression)
        </dd>
        <dt class = "col-sm-2">
            Admission Requirements
            @*  @Html.DisplayNameFor(model => model.Admission_Requirments)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admission_Requirments)
        </dd>
        <dt class = "col-sm-2">
            Degree Content
            @*   @Html.DisplayNameFor(model => model.DegreeContents)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeContents)
        </dd>
        @*
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniShortname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniShortname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniProfileModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniProfileModel.UserId)
        </dd>*@
    </dl>
    
    <form asp-action="DegreeDelete">
        <input type="hidden" asp-for="Degree_ID" />
        <input type="submit" value="Delete" class="buttons1" /> |
        <a asp-action="Degree">Back to List</a>
    </form>
</div>
<br />
