@model Project_G06.Models.UniProfileModel
<body class="bgP">
    <br />
    
<div class="wrapper">
    <div class="left">
        <input type="hidden" asp-for="ProfilPic_URL" id="ProfilPic_URL" />

        <img id="PreviewPhoto" src="~/profilepics/@Model.ProfilPic_URL" alt="Logo Image" />
            @* <h4>Hello!</h4>*@
        <h3>@Html.DisplayFor(model => model.UniFullname)</h3>
    </div>

    <div class="right">
        <div class="UniInfo">
            <h3>Profile Details</h3>
            <div class="UniInfo_data">
                <div class="data">
                    <h5>@Html.DisplayNameFor(model => model.UniFullname) : </h5>
                    <p>@Html.DisplayFor(model => model.UniFullname)</p>
                </div>
            </div>
            <div class="UniInfo_data">

                <div  class="data">
                        <h5> @Html.DisplayNameFor(model => model.UniShortname) : </h5>
                        <p>@Html.DisplayFor(model => model.UniShortname)</p>
                </div>

                    </div>
        </div>
        <div class="UDetails">
            <h3>@Html.DisplayNameFor(model => model.UniDetails)</h3>
            <div class="UDetails_data">
                <div class="Udata">
                    <h4> </h4>
                    <p>@Html.DisplayFor(model => model.UniDetails)</p>
                </div>

            </div>
        </div>
        <div class="ButClz">

                <div class="buttons1">

                    <a asp-action="Edit" asp-route-id="@Model?.UserId" style="color:white">Edit</a>
                  
            </div>
                <div class="buttons1">
                    <a asp-action="degree" asp-route-id="@Model?.UserId" style="color:white">Degrees</a>
            </div>

        </div>
    </div>
</div>
</body>