@model IEnumerable<StudentEmail>

@{
    ViewBag.Title="Index";

    
    PaginatedList pager = new PaginatedList();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    }



    <div class="index-H">
<h1> SignUps </h1>
</div>

<div class="table-wrapper">

<table class="I-table"> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach ( var obj in Model)
        {
            <tr>
                <td>@obj.S_Id</td>
                <td>@obj.S_Name</td>
                <td>@obj.S_Email</td>
               @*<td><a asp-action="Edit" asp-controller="StudentEmail" asp-route-id="@obj.S_Id">Edit details</a></td>*@
                <td><a asp-action="Delete" asp-controller="StudentEmail" asp-route-id="@obj.S_Id"  id="listlink">Delete </a></td>

            </tr>
        }
    </tbody>
</table>
    <div class="page-container">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">


                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="StudentEmail" asp-action="Index" asp-route-pg="1">First</a>
                    </li>


                    <li class="page-item">
                        <a class="page-link" asp-controller="StudentEmail" asp-action="Index" asp-route-pg="@(pager.CurrentPage -1 )">Previous</a>
                    </li>
                }



                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active":"")">
                        <a class="page-link" asp-controller="StudentEmail" asp-action="Index" asp-route-pg="@pge">@pge</a>
                    </li>
                }


                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="StudentEmail" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" asp-controller="StudentEmail" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }

            </ul>

        }





    </div>



</div>
                