@model IEnumerable<StudentEmail>

@{
    ViewBag.Title="Index";

    }


<h1> Index student email</h1>


<table> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var obj in Model)
        {
            <tr>
                <td>@obj.S_Id</td>
                <td>@obj.S_Name</td>
                <td>@obj.S_Email</td>
                <td><a asp-action="Edit" asp-controller="StudentEmail" asp-route-id="@obj.S_Id">Edit details</a></td>
                <td><a asp-action="Delete" asp-controller="StudentEmail" asp-route-id="@obj.S_Id">Delete row</a></td>

            </tr>
        }
    </tbody>
</table>

                