@model List<Project_G06.Models.Universities>
@{
}
<h1>University list</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Date</th>
            <th> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var university in Model)
        {
            <tr>
                <td>@university.Name</td>
                <td>@university.Email</td>
                <td>@university.Password</td>
                <td>@university.Date.ToString("dd/mm/yy")</td>
                <td><a href="University/View/@university.Name">View</a></td>
                <td><a asp-controller="Universities" asp-action="Edit" asp-route-id="@university.Name">Edit</a></td>

                <td><a asp-controller="Universities" asp-action="Delete" asp-route-id="@university.Name">Delete</a></td>


            </tr>
        }

    </tbody>
</table>