@*@model PaginatedList<Project_G06.Models.StudentEmail>

<p>
    @using (Html.BeginForm("Index", "Compare", FormMethod.Get))
    {
        <h2> Welcome</h2>

        @Html.RadioButton("SearchBy" , "S_Name" , true) <text>Name</text>

        @Html.RadioButton("SearchBy" , "S_Email") <text>Email </text>
            <br />
        @Html.TextBox("search")

            <input type="submit" value="Search"  />
    }

</p>




<p class="search"> Easily select the best degree  from a range of universities on one single platform !!</p>



@if (Model.Count() == 0)
{

    <p> No items matching search</p>


}
else
{
   
        <div class="row">
            @foreach (var obj in Model){
            <div class="column">
                <h2>@obj.S_Name</h2>
                <p>Duration : @obj.S_Id</p>
                   <p>Course Fee
                       : @obj.S_Id</p>
                <p>Affiliated University : @obj.S_Id</p>
                <p>Description : @obj.S_Id</p>
                <p>Admission requirements : @obj.S_Id</p>
            </div>
           



                      
}








        </div>
    


   @{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}


<a asp-action="Index" asp-route-pageNumber = "@(Model.PageIndex - 1 )"
class="btn btn-default @prevDisabled"> Previous</a>


<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1 )"
   class="btn btn-default @nextDisabled"> Next</a>
   
}



*@