@model IEnumerable<DegreeModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index degrees for search page</h1>
<table>
    <thead>
        <tr>
            <th>Degree Name</th>
            <th>Degree type</th>
            <th>Affiliated Uni</th>
            <th>Degree Duration</th>
            <th>Description</th>
            <th>Fee</th>
            <th>Career Oppurtunities</th>
            <th>Academic Progression</th>
            <th>Admission requirements</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Degre_Name</td>
                <td>@obj.Degree_Type</td>
                <td>@obj.Affiliated_uni</td>
                <td>@obj.Degree_duration</td>
                <td>@obj.Degree_description</td>
                <td>@obj.CourseFee</td>
                <td>@obj.Career_Opurtunity</td>
                <td>@obj.Academic_proggression</td>
                <td>@obj.Admission_Requirments</td>

            </tr>
        }
    </tbody>
</table>
