@model IEnumerable<Project_G06.Models.WebAdmin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.W_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.W_Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.W_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W_Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.W_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.W_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.W_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
