
 @model IEnumerable<UniProfileModel> //category is the name of the model




@{
    ViewData["Title"] = "Index";
}

<h1>University Index</h1>



<div>
    <div>
        <a asp-controller="New" asp-action="Create" class="btn btn-primary">Register a new University</a>
    </div>
</div>



<table class="table table-bordered table-striped" style="width:100%">
<thead>
    <tr>
        <th>User id</th>
        <th>Uni short </th>
                <th>long Name</th>
              
                <th>details </th>
                        <th>Profile</th>
                                <th>Confirm password</th>



        <th></th>
    </tr>
</thead>
<tbody>
        @foreach (var obj in Model /*model at the top of the page /  /*include the get action*/)
        {
            <tr>
                <td width="50%">
                    @obj.UserId
                </td>
                <td width="50%">
                    @obj.UniShortname
                </td>
                    <td width="50%">
                    @obj.UniFullname
                </td>
                <td width="50%">
                    @obj.UniDetails
                </td>
           
                <td>
                    <div>
                        <a asp-controller="New" asp-action="Edit" asp-route-id="@obj.UserId"> Edit</a>
                        </div>

                


                </td>
            </tr>
        }

</tbody>







</table>