@model IEnumerable<StudentEmail> //category is the name of the model


<h1>Individual uiversity profile</h1>



<div>
    <div>
        <a asp-controller="New" asp-action="Create" class="btn btn-primary">Register a new University</a>
    </div>
</div>

<p>
    @using(Html.BeginForm("Index" ,"Profile" , FormMethod.Get)){

        @Html.RadioButton("SearchBy" , "S_Name" , true) <text>Name</text>
        
    @Html.RadioButton("SearchBy" , "S_Id") <text>ID </text> 
    <br />
        @Html.TextBox("search")

        <input type="submit" value="Search" class="searchButton" id="searchButton" />
    }

</p>

 @if(Model.Count() == 0)
        {
        <tr Colspan="4">
            <td >
                No items matching search
            </td>
        </tr>
        }
        else
        {
            @foreach ( var item in Model){
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>University ID</th>
            <th>University Name</th>
            <th>University Email</th>
            <th></th>
          
        </tr>
    </thead>
    <tbody>
       
        
        @foreach (var obj in Model /*model at the top of the page /  /*include the get action*/)
        {
            <tr>
                <td width="50%" asp-route-id="@obj.S_Id">
                    @obj.S_Id
                </td>
                <td width="50%" asp-route-id="@obj.S_Id">
                    @obj.S_Name
                </td>
                <td width="50%">
                    @obj.S_Email 
                </td>
             


          
            </tr>
        }
        
      
    </tbody>


</table>
}

        }